button {
    background: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 90%;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    width: 50%;
}
